{{#each posts as |post|}}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"> {{title}}</h1>
        <p class="col-md-8 fs-4">
            {{post}}
            {{content}}

        </p>
        <button class="btn btn-primary btn-lg" type="button" id="commentBtn" value={{id}}>View Comments / Edit
            Post</button>
    </div>
</div>

{{/each}}

<script src="/js/all-posts.js"></script>