<form class="new-post-form">
    <input class="form-control form-control-lg" type="text" placeholder="Enter Post Title Here"
        aria-label=".form-control-lg example" id="post_title">

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Type Your Post Here: </label>
        <textarea class="form-control" id="post_content" rows="3"></textarea>
    </div>


    <button type="submit" class="btn btn-primary" value="Submit" id="submitBtn" >SUBMIT POST</button>
</form>
<script src="./js/new-post.js"></script>