<div class="post">
    <div class="post-title">
        <h1>
            {{name}}
        </h1>
    </div>
    <div class="post-content">
        <p>
            {{email}}  
            <br>
            {{password}}
        </p>
    </div>
</div>

